/* this file is: style.css */
	

#navbar {
overflow : hidden;
background-color : #000000;
padding : 90px 10px;
width : auto;
top : 0;
z-index : 99;
}
#form {
margin-left : 150px;
width : auto;
background-color : #bf8040;
border : 3px solid #269900;
}
#img {
display : block;
padding : 1px;
margin : auto;
overflow:auto;
}
#img2 {
display : block;
float : left;
padding : 1px;
margin : auto;
}
#img3 {
display : block;
float : right;
padding : 1px;
margin : auto;
}
body {
background-color : #7cfc00;
font-family : roman;
height : auto;
margin : 0;
}
body2 {
background-color : #7cfc00;
font-family : roman;
height : auto;
}
body3 {
background-color : #66cc00;
font-family : roman;
height : auto;
}
#body4 {
background-color : #d2a679;
font-family : italic;
height : 1490px;
}
#body5 {
background-color : #d2a679;
font-family : italic;
height : 800px;
}
#body6 {
background-color : #7cfc00;
font-family : italic;
height : 955px;
}
#body7 {
background-color : #7cfc00;
font-family : italic;
height : 2015px;
}
#body8 {
background-color : #66cc00;
font-family : italic;
height : 905px;
}
#body9 {
background-color : #66cc00;
font-family : italic;
height : 960px;
}
#body10 {
background-color : #d2a679;
font-family : italic;
height : 1312px;
}
#body11 {
background-color : #d2a679;
font-family : italic;
height : 1365px;
}
#header {
background-color : #d2a679;
padding : 2px;
margin : auto;
width : 65%;
}
h1 {
padding-left : 20px;
color : #ffffff;
text-align : center;
}
nav {
width : auto;
height : 100px;
background-color : #d2a679;
padding-top : 70px;
}
nav ul {
list-style-type : none;
display : block;
}
nav ul li {
margin : 10px;
}
nav ol {
list-style-type : none;
display : block;
}
nav ol li {
margin : 10px;
}
li a {
text-decoration : none;
color : #7cfc00;
}
a:hover {
color : #4d4d4d;
}
#content {
color : black;
background-color : #7cfc00;
padding : 2px;
margin : 2px;
width : auto;
height : auto;
border : solid;
overflow:auto;
text-align : center;
}
#content2 {
background-color : #d2a679;
padding : 70px;
margin : auto;
width : auto;
border : solid;
height : auto;
}
#content3 {
background-color : #d2a679;
padding : 70px;
margin : auto;
width : 800px;
height : auto;
text-align : center;
}
#h3 {
color : #d2a679;
font-family : italic;
text-align : center;
}
#h2 {
color : #d2a679;
font-family : italic;
margin-top : 5px;
text-align : center;
}
#container1 {
width : auto;
height : auto;
margin : auto;
background-color : #d2a679;
color : black;
}
#container2 {
width : auto;
height : auto;
margin : auto;
background-color : #d2a679;
}
#container3 {
width : auto;
height : auto;
margin : auto;
background-color : #2eb82e;
text-align : center;
}
#container4 {
width : auto;
height : 255px;
margin : auto;
background-color : #33cc33;
}
#container5 {
width : auto;
height : auto;
margin : auto;
background-color : #d2a679;
text-align : center;
}
#container6 {
width : 1020px;
height : 1053px;
margin : auto;
background-color : #d2a679;
}
#container7 {
width : auto;
height : auto;
margin : auto;
background-color : #7cfc00;
}
#container8 {
width : 1020px;
height : 1053px;
margin : auto;
background-color : #d2b48c;
}
#container9 {
width : 1020px;
height : 1053px;
margin : auto;
background-color : #66cc00;
}
#container10 {
width : auto;
height : auto;
margin : 5px;
background-color : #000000;
color : #d2b48c;
}
#container11 {
width : auto;
height : auto;
margin : 5px;
background-color : #7cfc00;
float : left;
}
#container12 {
width : auto;
height : auto;
margin : 5px;
background-color : #d2b48c;
float : right;
}
#container13 {
width : 1600px;
height : auto;
margin : 12px;
background-color : #7cfc00;
}
#main {
width : 1000px;
background-color : #000000;
}
#info {
width : 25%;
background-color : #000000;
}
#info2 ul {
display : block;
}
#info3 ul {
display : block;
}
#info4 ul {
display : block;
}
#info5 ul {
display : block;
}
#info6 ul {
display : block;
}
#info7 ul {
display : block;
}
#info8 ul {
display : block;
}
#info9 ul {
display : block;
}
#info10 ul {
display : block;
}
#info11 ul {
display : block;
}
#info12 ul {
display : block;
}
#info13 ul {
display : block;
}
#info14 ul {
display : block;
}
#info15 ul {
display : block;
}
#info16 ul {
display : block;
}
#info17 ul {
display : block;
}
#info2 a {
color : #000000;
}
#info3 a {
color : #000000;
}
#info4 a {
color : #000000;
}
#info5 a {
color : #000000;
}
#info6 a {
color : #000000;
}
#info7 a {
color : #000000;
}
#info8 a {
color : #000000;
}
#info9 a {
color : #000000;
}
#info10 a {
color : #000000;
}
#info11 a {
color : #000000;
}
#info12 a {
color : #000000;
}
#info13 a {
color : #000000;
}
#info14 a {
color : #000000;
}
#info15 a {
color : #000000;
}
#info16 a {
color : #000000;
}
#info17 a {
color : #000000;
}
#info2 a:hover {
color : #7cfc00;
}
#info3 a:hover {
color : #7cfc00;
}
#info4 a:hover {
color : #7cfc00;
}
#info5 a:hover {
color : #7cfc00;
}
#info6 a:hover {
color : #7cfc00;
}
#info7 a:hover {
color : #7cfc00;
}
#info8 a:hover {
color : #7cfc00;
}
#info9 a:hover {
color : #7cfc00;
}
#info10 a:hover {
color : #7cfc00;
}
#info11 a:hover {
color : #7cfc00;
}
#info12 a:hover {
color : #7cfc00;
}
#info13 a:hover {
color : #7cfc00;
}
#info14 a:hover {
color : #7cfc00;
}
#info15 a:hover {
color : #7cfc00;
}
#info16 a:hover {
color : #7cfc00;
}
#info17 a:hover {
color : #7cfc00;
}
#top {
text-align : center;
text-decoration : none;
list-style-type : none;
background-color : #269900;
color : #bf8040;
width : auto;
float : none;
}
#footer {
text-align : center;
padding : 2px;
background-color : #269900;
color : #000000;
width : auto;
}
#points {
background-color : #ffffff;
width : auto;
}
#points ul li {
list-style-type : circle;
list-style-position : outside;
background-color : #ffffff;
width : auto;
}
#legend {
padding : 4px 10px;
font-size : 2em;
}